<div class="head">
<h2>科目を選ぶ</h2>
</div>

<div class="list">
<p><%= $passion_words[rand($passion_words.length)]%></p>

<ul>

    <% @subjects.each do |s| %>
        <div class="list-child">
        <li><%= link_to s.name, subject_fields_path(s) %></li>
        </div>
    <% end %>
</ul>
</list>