<h1>I am check_test INDEX</h1>

<ul>
    <% @check_tests.each do |c| %>
        <li><%= link_to c.name, check_test_sentence_path(c.check_test_sentences.all.pluck(:id)[0], ids: c.check_test_sentences.all.pluck(:id), started_time: Time.now, field_id: c.field.id) %></li>
        <p>全<%= c.check_test_sentences.length %>問</p>
    <% end %>
</ul>

<%= link_to '分野選択に戻る', fields_path(id: @check_tests.first.field, subject_id: @check_tests.first.field.subject ) %><br>
<%= link_to '科目選択に戻る', subjects_path %>
