// Place all the styles related to the fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul{
        li {
    list-style: none;
  }
  }
  a{
      text-decoration: none;
  }

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .head{

    }
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .list-child{
            padding-right: 50px;
        }
    
    }
}