// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .head{

    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
}