<h1>Hi I am Field INDEX</h1>
<ul>
    <% @fields.each do |f| %>
        <li><%= link_to f.name, check_test_sentence_path(f.check_tests.first.check_test_sentences.all.pluck(:id)[0], ids: f.check_tests.first.check_test_sentences.all.pluck(:id), started_time: Time.now, field_id: f.id) %></li>
    <% end %>
</ul>
<p><%= Time.now %></p>